body{
    background-color: white;
    font-family: sans-serif,"consalas";
}
h2{
    font-family: sans-serif;
    font-weight: bold; 
    border-top: 10px gold;  
    border-bottom: 10px gold; 
    border-style: solid;
    border-width: 20px;
    font-size: 30px;
    text-align: center;
    background-color: aliceblue;
    line-height: 1.2;
    
}
h4{
    
    border-style: outset;
    border-width: 2px;
    text-align: center;
    background-color: aliceblue;
    line-height: 1.5;
}
.headings{
    font-family: sans-serif;
    font-weight: bold; 
    line-height:normal;
    border-top: 20px gold;  
    border-bottom: 20px gold;
    border-width: 20px;
    border-style: solid;
    background-color: aliceblue;
    text-align: center;
    
}
th{
    
    background-color: aliceblue;
    width: 200px;
    border-style: outset;
    border-radius: 2px;
    border-width: 2px;
    padding: 60px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;

}
h3{
    background-color: gold;
    border-radius: 10px;
}
P{
    font-weight: bold;
    background-color: gold;
}
footer {
  background: white;
  padding: 15px;
  text-align: center;
  font-size: 0.9em;
  border-top: 5px solid black;
}
